@{
    ViewBag.Title = "GameBoard";
}

<h2>GameBoard</h2>

<h3>Player 1:</h3>
Click image to Choose your weapon...
<ul>
    <li style="display: inline">
        <label>Rock</label>
        <img src="~/Images/rock.png"/>
        
    </li> 
    <li style="display: inline">
        <label>Paper</label>
        <img src="~/Images/paper.png" />
        
    </li> 
    <li style="display: inline">
        <label>Scissors</label>
        <img src="~/Images/scisorspng.png"/>
    </li> 
</ul>

<br/>
<br/>

<h3>Computer</h3>
Computer will choose after you click but won't cheat, promise....
<ul>
    <li style="display: inline">
        <label>Rock</label>
        <img src="~/Images/rock.png"/>
        
    </li> 
    <li style="display: inline">
        <label>Paper</label>
        <img src="~/Images/paper.png" />
        
    </li> 
    <li style="display: inline">
        <label>Scissors</label>
        <img src="~/Images/scissors.png"/>
    </li> 
</ul>

<br/>
<br/>

<h2>And the winner is...</h2>
<ul>
    <li style="display: inline">
        Winner
    </li>
    <li style="display: inline">
        Looser
    </li>

</ul>

<h3>Result text goes here....</h3>